---
import Layout from "../layouts/Layout.astro";

import GCFH from "../assets/gcfh/gcfh1.webp";
import KFH from "../assets/kfh/kfh1.webp";
import MNH from "../assets/mnh/mnh2.webp";
import SPM from "../assets/spm/spm2.webp";
import AZGC from "../assets/azgc/azgc2.webp";
import ADH from "../assets/adh/adh2.webp";
import ETNA from "../assets/etna/etna3.webp";
import MNHINT from "../assets/mnh/int/mnhint4.webp";
import VSW from "../assets/vsw/vsw15.webp";
---

<Layout title="Styka Studio Portfolio">
	<section class="bg-tan-900">
		<div class="px-6 py-10 mx-auto max-w-screen-xl">
			<h1
				class="text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-6xl text-center"
			>
				Our Portfolio
			</h1>

			<div
				class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 lg:grid-cols-3"
			>
				<a href="/portfolio/architecture/gandipet-container-farmhouse">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${GCFH.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Gandipet Container Farmhouse
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Architecture
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/architecture/keesara-farmhouse">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${KFH.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Keesara Farmhouse
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Architecture
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/architecture/manne-house">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${MNH.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Manne House
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Architecture
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/architecture/sripuram">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${SPM.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Sripuram
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Architecture
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/architecture/aziznagar-gated-community">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${AZGC.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Aziznagar Gated Community
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Architecture
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/interior-design/aadhya">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${ADH.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Aadhya
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Interior Design
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/interior-design/eterna-1503">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${ETNA.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Eterna 1503
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Interior Design
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/interior-design/manne-house">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${MNHINT.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Manne House
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Interior Design
							</p>
						</div>
					</div>
				</a>
				<a href="/portfolio/interior-design/vesella-woods">
					<div
						class="flex items-end overflow-hidden bg-cover bg-center rounded-lg h-96"
						style={{
							// use the src property of the image object
							backgroundImage: `url(${VSW.src})`,
							// other styles
							backgroundPosition: "center",
							backgroundSize: "cover",
							backgroundRepeat: "no-repeat",
							width: "100%",
							height: "40vh",
						}}
					>
						<div
							class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-tan-900/60"
						>
							<h2 class="mt-4 text-base font-semibold text-gray-800 capitalize">
								Vesella Woods
							</h2>
							<p class="mt-2 text-sm tracking-wider text-tan-200 uppercase">
								Interior Design
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
</Layout>
