---
import Container from "../../components/Container.astro";
import Link from "../../components/ui/Link.astro";
import Dropdown from "./Dropdown.astro";
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";
import Logo from "../../../src/assets/styka_logo_web.svg";
import { Image } from "astro:assets";
import { Phone } from "lucide-astro";
import Button from "../ui/Button.astro";

const menuitems = [
  // {
  // 	title: "Features",
  // 	path: "#",
  // 	children: [
  // 		{ title: "Action", path: "/" },
  // 		{ title: "Another action", path: "#" },
  // 		{ title: "Dropdown Submenu", path: "#" },
  // 		{ title: "404 Page", path: "/404" },
  // 	],
  // },
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Portfolio",
    path: "/portfolio",
  },
  {
    title: "Services",
    path: "/services",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Careers",
    badge: true,
    path: "https://in.indeed.com/cmp/Styka-Studio",
  },
];
---

<!-- <StickyHeader
	class="sticky top-0 border-b z-20"
	scrollY={50}
	defaultClass="py-2 border-transparent"
	activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
> -->
<div class="bg-tan-900">
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center py-5">
      <Astronav>
        <div
          class="flex flex-wrap w-full lg:w-auto items-center justify-between"
        >
          <a href="/" class="text-lg"
            ><Image src={Logo} alt="Styka Studio" width={130} />
          </a>

          <div class="order-3 block lg:hidden">
            <MenuIcon class="w-5 h-5 text-gray-800" />
          </div>
          <div class="order-2 lg:hidden flex items-center gap-4 text-jet-200">
            <a href="tel:8919557210"
              ><Button
                size="md"
                style="primary"
                class="flex gap-1 items-center justify-center"
              >
                <Phone size={16} /><div class="text-sm">8919557210</div>
              </Button></a
            >
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900"
                      >
                        <span> {item.title}</span>
                        {item.badge && (
                          <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold  text-jet-200 bg-tan-600 rounded-full">
                            Hiring
                          </span>
                        )}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>

      <div
        class="order-3 hidden lg:flex items-center gap-4 font-sans text-jet-200"
      >
        <a href="tel:8919557210"
          ><Button
            size="md"
            style="primary"
            class="flex gap-1 items-center justify-center"
          >
            <Phone size={16} /><div class="text-sm">8919557210</div>
          </Button></a
        >
      </div>
    </header>
  </Container>
</div>
<!-- </StickyHeader> -->
